body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

button{

    padding: 0.2% 1.3%;
    border-radius: 5%;
    background-color: #789461;
    border: solid 10px #DBE7C9 ;
    
}

button:hover{
    border: solid 10px #789461;
    background-color: #DBE7C9;
}

button a{
    font-size: 2vw;
    text-decoration: none;
    color: black;
    font-weight: 900;
    
}