body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.lettre{
    visibility: hidden;
    font-size: 20px;
    font-display: flex;
    
  }

  #monAlphabet{
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
    width: 50vw;
  }

  .lettrea{
    background-color:rgb(174 229 149);
    border-radius: 5px;
    width: 0.1vw;
    height: 0.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  .vrai{
    background-color:rgb(81, 255, 0);
    border-radius: 5px;
    width: 0.1vw;
    height: 0.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;

  }

  .faux{
    background-color:rgb(255, 0, 0);
    border-radius: 5px;
    width: 0.1vw;
    height: 0.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;

  }

  li {
    font-size: 20px;
    font-display: flex;
  }

li.lettre#visible{
  list-style-type: none;
  visibility: visible;
    
}

li a{
  font-size: 120px;
}

  /* Afficher un petit trait noir à la place */
  li.lettre:after {
    visibility: visible;
    content: "\2022";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 5px; 
    background-color: black;
    margin-bottom: 10px; 
}

li.lettre#visible:after{
  background-color: green;
}

.pendu{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.pendu ul{
  position: relative;
  display: flex;
  z-index: 0;
}

/* .pendu ul ol.un img{
  position: absolute;
  left: 8.3%;
  bottom: 15%;
} */

/* .pendu ul ol.un img {
  position: absolute;
  left: 8.3%;
  bottom: 15%;
  height: auto;
  width: 20vw;
} */

.pendu ul ol.un img {
  position: absolute;
  left: 8.3%;
  bottom: 15%;
  height: 15px;
  width: 305px;
}

/* .pendu ul ol.deux img{
  position: absolute;
  left: 16.3%;
  bottom: 40%;
} */

/* .pendu ul ol.deux img {
  position: absolute;
  left: 16.3%;
  bottom: 40%;
  height: 60vh;
} */
.pendu ul ol.deux img {
  position: absolute;
  left: 16.3%;
  bottom: 40%;
  width: 15px;
  height: 350px;
}

/* .pendu ul ol.trois img{
  position: absolute;
  left: 20.3%;
  bottom: 40%;
} */

/* .pendu ul ol.trois img {
  position: absolute;
  bottom: 40;
  width: 16vw;
  bottom: 1970%;
  left: 16%;
} */

.pendu ul ol.trois img {
  position: absolute;
  bottom: 40;
  width: 190px;
  height: 45px;
  bottom: 1720%;
  left: 13%;
}

/* .pendu ul ol.quatre img{
  position: absolute;
  left: 20.3%;
  bottom: 27%;

} */

/* .pendu ul ol.quatre img {
  position: absolute;
  left: 65.3%;
  bottom: 1570%;
  width: 6vw;
} */

.pendu ul ol.quatre img {
  position: absolute;
  left: 46.3%;
  bottom: 1369%;
  width: 80px;
  height: 75px;
}

/* .pendu ul ol.cinq img{
  position: absolute;
  left: 20.3%;
  bottom: 14%;
} */

/* .pendu ul ol.cinq img {
  position: absolute;
  left: 74.3%;
  bottom: 675%;
  height: 26vh;
} */

.pendu ul ol.cinq img {
  position: absolute;
  left: 55.3%;
  bottom: 849%;
  width: 15px;
  height: 105px;
}

/* .pendu ul ol.six img{
  position: absolute;
  left: 20.1%;
  bottom: 15%;
} */

/* .pendu ul ol.six img {
  position: absolute;
  left: 53.1%;
  bottom: 1000%;
  width: 12vw;
} */

.pendu ul ol.six img {
  position: absolute;
  left: 42.1%;
  bottom: 1092%;
  width: 115px;
  height: 55px;
}

.pendu ul ol.sept img {
  position: absolute;
  left: 20.1%;
  bottom: 1092%;
  width: 115px;
  height: 55px;
}


.pendu ul ol{
  visibility: hidden;
  /* filter: grayscale(100%);
  opacity: 0.4;  */
}

.pendu ul ol.visible{
  visibility: visible;
  /* filter: none;
  opacity: 100; */
  
}

#playerScore{
  color: red;
}

/* nv test. */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #333;
}